<!DOCTYPE html>
<html>
    <head>
        <title>Dog Hospital</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
    </head>
    <body>
        <h1></h1>
        <div class="content-container">
            <li name="tables">
                {% for item in tables %}
                    <a href="?table={{item}}">{{item}} .</a>
                {% endfor %}
                <form class="search-tab" method = "GET">
                    <label>Search...</label>
                    <input type="text" name = "search"/>
                    <input type="submit"/>
                </form>
            </li>
            <h2>{{currentTable}}</h2>
            <table class="table-container">
                <tr class="table-row-header-container">
                    {% for i in range(0, rowLength) %}
                        <th class="table-row-header">{{colTitle[i]}}</th>
                    {% endfor %}
                </tr>
                {% for i in range(0, rowHeight) %}
                <tr class="table-row-data-container">
                    {% for j in range(0, rowLength) %}
                        <td>{{rowCells[i][j]}}</td class="table-row-data"> 
                    {% endfor %}
                    <td><a href="?table={{currentTable}}&modify=edit-{{rowCells[i][0]}}-{{currentTable}}" class="href-link-btn">Edit</a></td>
                    <td><a href="?table={{currentTable}}&modify=delete-{{rowCells[i][0]}}-{{currentTable}}" class="href-link-btn">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href="?table={{currentTable}}&modify=add-{{currentTable}}" class="href-link-btn">Add Data to Tables</a>
        </div>
    </body>
</html>
