<!DOCTYPE html>
<html>
    <head>
        <title>Shazam Song Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
    </head>
    <body>
        <nav class="nav-container">
            <ul>
                <a href="../"><li>Home</li></a>
            </ul>            
        </nav>

        <div class="songs-list-container">{% block content %}
            <div class="song-container">
                {% set i = namespace(value=0) %}
                {% for key, value in formData.items() %}
                    <h2>
                        <a href="../recommendations?songname={{key}}&key={{keyList[i.value]}}" name={{key}}>{{key}}</a>
                    </h2>
                    <img src={{value}} alt="image song art">
                    {% set i.value = i.value + 1 %}
                {% endfor %}                
            </div>
        {% endblock %}</div>
    </body>
</html>